.introBanner {
  width:100%;
  height:40vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #111D4A;

  p {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
  }
}

.introInner {
  width: 75%;
}

@media only screen and (min-width: 600px) {
  .introBanner {
    height:75vh;
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 35px;
    }
  }
}