.pageContainer {
  text-align: center;
  margin: 55px auto;
}

.contentContainer {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  p {
    color: #14251c;
    font-size: 20px;
    line-height: 30px;
  }
}

.elipsis {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 1000px) {
  .contentContainer {
    width: 75%;
  }
}
