.banner {
  background-color: #ffffff;
  width: 100%;
  margin-top:15px;
  padding-bottom: 25px;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  padding-top: 1rem;
  width: 95%;
}

.listItem {
  display: flex;
  background-color: white;
  border: solid 1px #d6d6d6;
  transition-duration: .2s;
  transition-property: box-shadow;
  text-align: left;
  width: 24%;
  padding: 1em;
  margin: 0 0.3em 1em 0.3em;
}

.listItem:hover {
  -webkit-box-shadow: 0 12px 18px -6px #626262;
     -moz-box-shadow: 0 12px 18px -6px #626262;
          box-shadow: 0 12px 18px -6px #626262;
}
.listContent {
	background-color: #fff;
  display: flex;
  flex-direction: column;
	width: 100%;
}
.listContent p {
  color: #14251c;
  font-size: 16px;
  flex-grow: 1;
  text-transform: none;
  height: 100px;
}
h4 {
  color: #14251c;
  font-size: 22px;
}

@media (max-width: 1200px) {
  .listItem {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .listItem {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .list {
    justify-content: center;
  }
  .listItem {
    width: 80%;
  }
}
