.banner {
  background-color: #f0f0f0;
  width: 100%;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  padding-top: 2.5rem;
  width: 95%;
}
.listItem {
	display: flex;
  padding: 0.5em;
	width: 100%;
  margin-bottom: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
  border: solid 1px #d6d6d6;
  transition-duration: .2s;
  transition-property: box-shadow;
  text-align: left;
  width: 45%;
  min-width: 275px;
  height: 300px;
}
.listItem:hover {
  -webkit-box-shadow: 0 12px 18px -6px #626262;
     -moz-box-shadow: 0 12px 18px -6px #626262;
          box-shadow: 0 12px 18px -6px #626262;
}

.listContent {
	background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
	width: 100%;
}
.listContent p {
  color: #14251c;
  font-size: 16px;
  flex: 1 0 auto;
}
h4 {
  color: #14251c;
  font-size: 22px;
}
a {
  color: #4285f4;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

@media all and (min-width: 40em) {
  .listItem {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .listItem {
    width: 33.33%;
  }
}
