.homePage {
  text-align: center;
}

.page {
  text-align: center;
  width: 95%;
  margin: 2rem auto;
}

.infoBanner {
  width: 75%;
  margin: 2rem auto 3rem auto;
  h1 { font-size: 45px;}
  p {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

.bannerImage {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
}
