html, body {
  margin: 0;
  padding: 0;
}

.projectContainer {
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom:50px;
}

.btnPrimary {
  background-color: #FFE754;
  color: #111D4A;
  padding: 15px 25px;
  border-radius: 3px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}