.projectBlock {
  width:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: solid 1px #DADADA;
  margin: 25px 0;
  text-decoration: none;

  .projectText {
    color: #191847;
    padding: 20px;
  }

  .title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  .description {
    font-family: 'Merriweather';
    font-size: 25px;
  }

  .projectLine {
    background-color: #17FFF5;
    width: 100%;
    height: 10px;
  }

  img {
    width: 100%;
  }
}
