.header {
  padding: 1.45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 5px #D510AE;
  position: fixed;
  width:100%;
  height:85px;
  background-color:#FF6C2D;
  z-index: 100;
}

.navButtons {
  display: flex;
  justify-content: center;
}

.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100px;
  border-radius: 100px;
  cursor:pointer;
}

.navIcon {
  width: 45px;
  margin: 10px;
}

.homeIcon {
  width: 50px;
  margin-bottom:0;
}

.navText {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
  margin: 0
}

.designActive {
  border: solid 3px #ff0000;
}

.codeActive {
  border: solid 3px #0099ff;;
}

.writingActive {
  border: solid 3px #FFD800;
}
